
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

csv/*.csv
datasets/*.*
saved_model/
saved_model/iris_model/*.*
saved_model/segment_model/*.*
my_segment_classifier/*
datasets/petfinder-mini/*.*
datasets/segment_training_v4.csv
# Dependency directories (remove the comment below to include it)
# vendor/
