
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

csv/*.csv
datasets/*.*
saved_model/
saved_model/iris_model/*.*
saved_model/segment_model/*.*
# Dependency directories (remove the comment below to include it)
# vendor/
.vscode/
